* {
  box-sizing: border-box;
}

.App {
  position: relative;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.App::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.clock-container {
  margin-bottom: 5vmin;
}

.clock-border {
  display: inline-block;
  padding: 0.08em 0.2em;
  color: rgba(255, 255, 255, 0.95);
  font-weight: 600;
  font-size: 12vmin;
  border: solid 1.4vmin rgba(255, 255, 255, 0.95);
}