.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.clock-container {
  margin-bottom: 5vmin;
}

.clock-border {
  display: inline-block;
  padding: 0.08em 0.2em;
  color: #222;
  font-weight: 600;
  font-size: 12vmin;
  border: solid 1.4vmin #222;
}